Source: pythonwebkit
Priority: optional
Section: libs
Maintainer: Phil Hands <phil@hands.com>
Uploaders: Phil Hands <phil@hands.com>
Build-Depends: debhelper (>= 5.0),
               autoconf,
               automake,
               libtool,
               gtk-doc-tools,
               python-gtk2-dev,
               chrpath,
               libgtk2.0-dev (>= 2.10),
               libpango1.0-dev (>= 1.16),
               libicu-dev,
               python-support (>= 1.0.4),
               python-all-dev (>= 2.3.5-11),
               python-ply,
               libxslt-dev,
               libsoup2.4-dev (>= 2.29.90),
               libsqlite3-dev,
               gperf,
               bison,
               flex,
               libjpeg62-dev,
               libpng12-dev,
               libxt-dev,
               autotools-dev,
               libgstreamer-plugins-base0.10-dev,
               libenchant-dev,
               libgail-dev
Standards-Version: 3.8.4
DM-Upload-Allowed: yes
Homepage: http://www.gnu.org/software/pythonwebkit
XS-Python-Version: >= 2.4

Package: libwebkitgtk-python1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: Web content engine library for Gtk+
 WebKit is a web content engine, derived from KHTML and KJS from KDE, and
 used primarily in Apple's Safari browser.  It is made to be embedded in
 other applications, such as mail readers, or web browsers.
 .
 It is able to display content such as HTML, SVG, XML, and others. It also
 supports DOM, XMLHttpRequest, XSLT, CSS, Javascript/ECMAscript and more.
 .
 This is the library for embedding in Python-Gtk+ applications.

Package: python-pywebkitgtk
Section: python
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libwebkitgtk-python1, ${python:Depends}, python-gtk2
XB-Python-Version: ${python:Versions}
Description: Python DOM (HTML5) Bindings to Webkit (GTK2 version)
 WebKit is a web content engine, derived from KHTML and KJS from KDE, and
 used primarily in Apple's Safari browser.
 .
 It is able to display content such as HTML, SVG, XML, and others. It also
 supports DOM, XMLHttpRequest, XSLT, CSS, Javascript/ECMAscript and more.
 .
 This package contains a python module which provides a simple, single
 stand-alone window, where access to the full features of HTML5 are
 provided, directly, to python.  Features and functions which are normally
 the exclusive domain of javascript are made available in a 100% compatible
 way: Webkit "javascript" Timers, HTTPRequest, onmouseover and other callbacks,
 CSS properties, appendChild, getElementsByTagName: everything that can be
 expected to be accessed via javascript is made available to python
 programmers.
 .
 There are several "ports" of PythonWebkit: this module contains the GTK2
 version.  The PythonWebkit bindings are faster than the GObject bindings
 because they are direct; they are also feature-comparable to Javascript;
 they are also more stable than the GObject bindings.
 .
 For more information see the GNU PythonWebkit Project at:
 http://www.gnu.org/software/pythonwebkit
